body {
  background: white;
  font: 16px/1.6em  Helvetica, sans-serif;
  margin: 20px;
  padding: 10px;
	margin-bottom: 50px;
}

pre {
	padding-left: 20px;
	font-size: 14px;
}

.main-container {
  margin: auto;
  width: 800px;
  position: relative;
  padding-right: 250px;
}

#viz-histogram-container {
  /*display: block;*/
  /*padding: 10px;*/
	display: flex;
  flex-wrap: wrap;
	flex-grow: 0;
	justify-content: left;
  border: 0px solid grey;
	width: 900px;
  margin-top: 0px;
}

#viz {
  /*display: block;*/
  /*padding: 10px;*/
  border: 0px solid lightGrey;
}

#axis {
  border: 0px solid lightGreen;
  height: 50px;
}
